$TTL    86400
@       IN      SOA     ns1.{{ domain }}. admin.{{ domain }}. (
                            1         ; Serial
                            604800    ; Refresh
                            86400     ; Retry
                            2419200   ; Expire
                            86400 )   ; Negative Cache TTL

; Nameservers
@       IN      NS      ns1.{{ domain }}.

; A record for the nameserver
ns1     IN      A       {{ nameserver_ip }}

