options {
    directory "/var/cache/bind";

    forwarders {
        {{ forwarder1 }};
        {% if forwarder2 != "" %}
        {{ forwarder2 }};
        {% endif %}
    };

    // Allow recursive queries
    recursion yes;

    // Allow queries from your internal network
    allow-query { {{ internal_network }}; };
    allow-recursion { {{ internal_network }}; };

    // Listen on all interfaces
    listen-on { any; };
};

