options {
    directory "/var/cache/bind";

    forwarders {
        {{ forwarder1 }};
        {% if forwarder2 != "" %}
        {{ forwarder2 }};
        {% endif %}
    };

    allow-query { {{ internal_network }}; };
    recursion yes;
    listen-on { any; };
};

