# Netplan configuration for two interfaces
network:
  version: 2
  ethernets:
    {{ interface1 }}:
      addresses:
        - {{ static_ip1 }}
      gateway4: {{ gateway_ip }}
      nameservers:
        addresses:
          {% for dns in dns_servers.split() %}
          - {{ dns }}
          {% endfor %}
      mtu: {{ mtu }}
      
    {{ interface2 }}:
      addresses:
        - {{ static_ip2 }}
      mtu: {{ mtu }}

