server {
    listen 80;
    server_name {{ server_name }};

    {% if subdir %}
    root /var/www/website{{ website_number }}/{{ subdir }};
    {% else %}
    root /var/www/website{{ website_number }};
    {% endif %}
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}

