# /etc/vsftpd.conf

listen=YES
listen_ipv6=NO
#uncomment
write_enable=YES
#add
anonymous_enable=NO
local_enable=YES
local_root=/var/www
chroot_local_user=YES
allow_writeable_chroot=YES
port_enable=YES
pasv_enable=YES
pasv_min_port=40000
pasv_max_port=50000

# Use our server's public IP address
pasv_address={{ external_gw_ip }}

